.photo-details-modal-open {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .5);
  position: fixed;
  top: 10%;
  left: 18%;
  right: 18%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 12px;
  opacity: 1;
  pointer-events: all;
}

.photo-details-modal-open {
  animation: fadeIn 0.5s forwards; /* Fade in animation */
}

.photo-details-modal-closed {
  opacity: 0;
  animation: fadeOut 0.5s forwards; /* Fade out animation */
}


body.modal-open{
  overflow: hidden;
}


.photo-details-modal__close-button {
  border: none;
  color: rgb(44, 44, 44);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
  position: fixed;
  z-index: 9999;
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
  pointer-events: auto;
}

.photo-details-modal__image {
  display: block;
  max-width: 95%;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  pointer-events: auto;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  top: 0;
  position: sticky;
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}

.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.selected-photo {
  margin: 50px;
  border-radius: 18px;
}


